footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1em;
    color: white;
    background-color: #007196;
    clear: left;
    text-align: center;
}

 body {
     text-decoration-color: indigo;
 }